<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="">
            <input type="text" name="name" id="Name">
            <input type="text" name="email" id="Email">
            <input type="password" name="password" id="Password">
            <button>Register</button>
        </form>
    </main>
</body>
</html>